.sidebar-menu > .ant-menu-item,
.sidebar-menu .ant-menu-submenu {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
  font-weight: 500 !important;
  /* background-color: #ffffff !important; */
}

.sidebar-menu .ant-menu-item {
  padding-inline: 12px !important;
}

.sidebar-menu {
  border-right: 1px solid lightgray !important;
  height: calc(100vh - 80px) !important;
}

.sidebar-menu .ant-menu-submenu {
  width: 97%;
  margin-inline: auto;
}

.sidebar-menu .ant-menu-sub li {
  padding-inline: 10px !important;
  transition: none !important;
}

.ant-menu-title-content {
  transition: none !important;
}

.ant-menu-submenu-title * {
  color: black !important;
}

.ant-menu-submenu-title:hover svg {
  color: white !important;
}

.ant-menu-title-content:hover {
  color: white !important;
}
